html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css', integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf', crossorigin='anonymous')
        link(rel='stylesheet', type='text/css', href='../styles/user/create.css')
    body
        section.signup
            .container
                .signup-content
                    .signup-form
                        h2.form-title Sign up
                        form#register-form.register-form(action="/users/create", method='POST',enctype="multipart/form-data")
                            .form-group
                                label(for='name')
                                i.fas.fa-user
                                input#name(type='text', name='name', placeholder='Your Name', value=values?values.name:"")
                            .form-group
                                label(for='phone')
                                i.fas.fa-phone-square
                                input#re_pass(type='text', name='phone', placeholder='Your phone')
                            .form-group
                                label(for='email')
                                i.fas.fa-envelope
                                input#email(type='email', name='email', placeholder='Your Email')
                            .form-group
                                label(for='pass')
                                i.fas.fa-unlock-alt
                                input#pass(type='password', name='pass', placeholder='Password')
                            .form-group.form-button
                                input#signup.form-submit(type='submit', name='signup', value='Register')
                    .signup-image
                        figure
                            img(src='../images/signup-image.jpg', alt='sing up image')
    //- .container
    //-     h1 Create users
    //-     if error
    //-         each e in error
    //-             .alert.alert-danger=e
    //-     form(action="/users/create", method="POST", enctype="multipart/form-data")
    //-         .form-group
    //-             lable(for="name") Name
    //-             input#name.form-control(name="name", type="text",class="my-3", value=values?values.name:"")
    //-             lable(for="phone") Phone
    //-             input#name.form-control(name="phone", type="text",class="my-3", value=values?values.phone:"")
    //-             lable(for="email") Email
    //-             input#url.form-control(name="email", type="text",class="my-3", value=values?values.email:"")
    //-             lable(for="pass") Pass word
    //-             input#url.form-control(name="pass", type="password",class="my-3", value=values?values.pass:"")
    //-             lable(for="avatar") Avatar
    //-             input#avatar.form-control-file(name="avatar", type="file",class="my-3")
    //-             button.btn.btn-primary Craete